.container{
    background: gray;
    height: screen;
    width: full;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-group{
    background: black;
    padding: 4;
    display: flex;
    

}
.estilo_titulo{
    margin-top: 15px;
}
.estilo_archivo{
    margin-left: 10px;
}