.container{
    background: gray;
    height: screen;
    width: full;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-group{
    background: black;
    padding: 4;
    display: flex;
    

}